* {margin: 0;padding: 0; box-sizing: border-box;}
// h1,h2,h3,h4,h5,h6 {}

// color
$defaultTheme: #C7393E;
$border-light: #e4e4e4;
$loading: #FCB64F;
$primary: #263E6D;
$success: rgb(152, 211, 24);

// layout
.dis-20 {margin: 20px 0;}
.dis-30 {margin: 30px 0;}
.dis-40 {margin: 40px 0;}

// flex
.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}
.flex-align-center {
    align-items: center;
}

.flex-auto {
    flex: auto;
}
.flex-1 {
    flex: 1 1 auto;
}


// text
.t-center {text-align: center;}

// border
@mixin border($color) {
    border: 1px solid $color;
}

// shape
.center-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $border-light;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.content {padding: 25px;}

// animation
@mixin animation($name) {
          animation: $name 3s alternate infinite;
}
@keyframes scale {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}